.as-center {
  width: 50%;
  margin: auto;
  padding: 2em;
  padding-left: 3.8em;
  padding-right: 3.8em;
  border-radius: 0;
  border: 1px solid #000000;
}
.as-logo {
  width: 175px;
}
.as-profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff7178;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.as-store {
    border: 1px solid #dedede;
    margin-left: 25px;
    margin-right: 55px;
}
.as-middleIcon{
    top: 18px;
}