.left {
	position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	width: 33%;
	float: left;
	padding: 2em;
	background: #F5F6F9;
	border-radius: 2%;
}

.right {
	margin-left: 65em;
    width: 10%;
    /* background: url(../images/bg1.jpg) no-repeat center; */
    min-height: 480px;
    background-size: cover;
    border: 1px solid black;
    position: absolute;
    border-radius: 1%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.right svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.right svg line {
    stroke: #000;
    stroke-width: 2;
}
.right p{
	box-sizing:border-box;
	position: absolute;
	bottom: 1.3em;
	left: 2.5em;
	padding-right: 7.5em;
}

.header{
	border: 1px solid black;
	width: 100%;	
	padding-left: 6em; 
	padding-right: 6em; 

}

.header .signupText{
	text-align:center;
	vertical-align:central;
}


.logo{
	position: relative;
	height: 50px;
	width: 200px;
}

.logo svg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    left: 0;
}

.logo svg line {
    stroke: #000;
    stroke-width: 2;
}
